/*----------------------------------------------------------------------------
typography.css                                                                  
Enthält alle übergreifenden typographischen Regeln.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Quicksand);

h1, h2, h3, h4{font-family: 'Quicksand', sans-serif;}

h2,h3 {color:ghostwhite}

h4{color:black}

h1{color:black; z-index: 3}



h2{font-size: 30px}

h3{
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 3px;
        
}




/* Headlines
----------------------------------------------------------------------------*/