/*----------------------------------------------------------------------------
layout.css                                                                  
Enthält alle übergreifenden typographischen Regeln.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Content
-----------------------------------------------------------------------------*/

.content {
    max-width: var(--content-width);
    margin: 0 auto;
}


/* Section
-------------------------------------------------------------------------*/
.sc1 {
    margin: 0 auto;
    height: 500px;
    background-color: #5b7cb2;
    width max-width;
    margin-bottom: 0;

}

.sc2 {
    margin: 0 auto;
    height: 500px;
    background-color: #6d81a3;
    width max-width;
    margin-bottom: 0;
    font-size: 1rem;

}

.sc3 {
    margin: 0 auto;
    height: 500px;
    background-color: #5b7cb2;
    width max-width;
    margin-bottom: 0;

}

.sc4 {
    margin: 0 auto;
    height: 500px;
    background-color: #6d81a3;
    width max-width;
    margin-bottom: 0;
    

}



.sh{
    float: left;
    margin-left: 150px;
    margin-right: 450px;
    padding-top: 50px;
        
}

.title{
    font-family: 'Quicksand', sans-serif;
}



.main {
    position: relative;
    
}


.section {
    padding-bottom: 0;
}