.card-title{
  text-align: center;
}
.text-align_center{
  text-align: center;


}
.table_button{
  text-align: center;
  padding: 2em;
}

.btn_k{

  display:inline-block;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 65.7px!important;
  height: 65.7px!important;

}

.monat{
  text-align:center;
  font-size:2rem;
}

.Kalender{
  font-size: 2.5rem;
}

.btn_left{
  margin-left: 10px;
}

.kurz2 , .mittel , .lang {
  display:none;
}

.btn_bright{
  background-color: white!important;
}

.NoDisplay{
  display:none;
}
.eingabe_k{
  text-align:center;
  margin-left: 60px;
  margin-bottom:20px;
}
.btns{
  width: 600px;
  margin-bottom: 10px;
}
.btn_c{
  margin-left: 170px;
}
.btn_s{
  margin-left:30px;
}
.switch{
  display:inline-block;
  position:relative;
}
.btn_switch{
  position:absolute;
}

.btn_switch2{
  position:absolute;
  padding-left:300px;
  top:0;
  right:0;
}
.btn_marge{
  margin-top: 20px;
}
